# Auto detect text files and perform LF normalization
# Update Git Attribute File
*.java linguist-detectable=false
*.dart linguist-language=Dart
*.dart linguist-detectable=true
android/* linguist-vendored
build/* linguist-vendored
